
.div1 {
	width: 300px;
	height: 100px;
	border: 2px #000 solid;
	box-sizing: border-box;
	color: red;
}
.div2 {
	width: 300px;
	height: 100px;
	border: 1px #aa0000 solid;
	padding: 7px;
	box-sizing: border-box;
}