::-moz-selection {
	color: #000;
	background: #9EF5E2;
}
::selection {
	color: #000;
	background: #9EF5E2;
}

body {
	background: #555;
	color: #fff;
}
header {
	background: #000;
}
header h1 {
    text-shadow: 0 5px 7px 0px deeppink;
    padding: 0 0 0 10px;
    font-size: 40px;
}
#spinnyskull2 {
    vertical-align: middle;
}
#spinnyskull1 {
	float: left;
}

/* Header linkit */
#navig {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #bbb;
}
#navig li {
    float: left;
}
#navig li a {
    display: inline-block;
    color: #fff;
    text-align: center;
    padding: 10px 20px;
    text-decoration: none;
    font-weight: bold;
}
#navig li a:hover {
    background-color: hotpink;
}
.active {
    background-color: deeppink;
}

/* Aside linkit */
#navi li {
    list-style: none;
	overflow: hidden;
}
#navi a {
    color: hotpink;
    text-decoration: none;
}
#navi a:visited {
    color: deeppink;
}
#navi a:hover {
    color: lightpink;
}
#navi a:active {
    color: black;
}

/* Maini */
#main {
	background: #000;
    width: 70vw;
    margin: 10px 0 0 0;
    padding: 7px;
}

/* Kuvat */
#kattimatti {
	height: 450px;
}
#spookyskullbert {
	height: 450px;
}
#miksi {
	width: 550px;
}
#keudalogo {
	width: 300px;
}

/* Aside */
.right {
	float: right;
	background: #000;
	width: 20%;
    margin: 10px;
    padding: 7px;
}

/* Lomake */
#nimi {
	color: #DF4CC8;
	background: #FDD8F7;
}
#nimi::placeholder {
	color: #DF4CC8;
	opacity: 1;
}
#nimi::-ms-input-placeholder {
	color: #DF4CC8;
}
#viesti {
	width: 200px;
	height: 100px;
}

footer {
    background: #bbb;
    color: #000;
	padding: 5px;
}

/* Responsiivisuus */
@media screen and (max-width: 800px) and (min-width: 600px) {
	/*#spinnyskull1 {
		display: none;
	}*/
	body {
		font-size: 3vw;
	}
	h1 {
		font-size: 10vw;
	}
	#main, .right {
	width: auto;
	
	}
	.right {
		float: none;
		margin: 0;
	}

	/* Kuvat */
	#kattimatti {
		width: auto;
		max-width: 100%;
		height: auto;
	}
	#spookyskullbert {
		width: auto;
		max-width: 100%;
		height: auto;
	}
	#miksi {
		width: auto;
		max-width: 100%;
		height: auto;
	}
	#keudalogo {
		width: auto;
		max-width: 100%;
		height: auto;
	}
}


@media screen and (max-width: 600px) {
	body {
		font-size: 4vw;
	}
	h1 {
		font-size: 15vw;
	}
	#spinnyskull1 {
		float: none;
		display: block;
		margin-left: auto;
		margin-right: auto;
		width: 50vw;
	}
	#spinnyskull2 {
		display: none;
	}
	.otsikko {
		text-align: center;
	}
	#navig li {
		float: none;
		width: 100%;
	}
	#navig li a {
		width: 100%;
	}
	#main, .right {
		width: auto;
		padding: 10px;
		overflow: hidden;
	}
	.right {
		float: none;
		margin: 0;
	}

	/* Kuvat */
	#kattimatti {
		width: auto;
		max-width: 100%;
		height: auto;
		object-fit: contain;
	}
	#spookyskullbert {
		width: auto;
		max-width: 100%;
		height: auto;
	}
	#miksi {
		width: auto;
		max-width: 100%;
		height: auto;
		object-fit: contain;
	}
	#keudalogo {
		width: auto;
		max-width: 100%;
		height: auto;
	}
}
