table {
  border-collapse: collapse;
}

table, th, td {
  border: 1px solid black;
}

th {
  text-align: left;
}

th {
  background-color: #f69dff;
  color: #ffffea;
}

tr:nth-child(even) {background-color: #96f7e1;}
